<!-- registro.component.html -->
<div class="registro-container">
  <h1>REGISTRO DE JUGADORES</h1>

  <div class="jugador">
    <h2> JUGADOR 1</h2>
    <input type="text" placeholder="Nombre" [(ngModel)]="jugador1.nombre">
    <input type="text" placeholder="descripcion" [(ngModel)]="jugador1.descripcion">
  </div>

  <div class="jugador">
    <h2> JUGADOR 2</h2>
    <input type="text" placeholder="Nombre" [(ngModel)]="jugador2.nombre">
    <input type="text" placeholder="descripcion" [(ngModel)]="jugador2.descripcion">
  </div>

  <div class="botones">
    <button (click)="jugar()"> JUGAR</button>
    <button (click)="volver()"> VOLVER</button>
  </div>
</div>
